<div class='intro'>
	<h1 class='intro__hed tk-canela'>{{copy.hed}}</h1>
	<p class='intro__dek tk-atlas'>{{copy.dek}}</p>
	<p class='intro__byline tk-atlas'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>, <a href='{{meta.author2.url}}' target='_blank'>
			<strong>{{meta.author2.name}}</strong>
		</a>, <a href='{{meta.author3.url}}' target='_blank'>
			<strong>{{meta.author3.name}}</strong>
		</a>, <a href='{{meta.author4.url}}' target='_blank'>
			<strong>{{meta.author4.name}}</strong>
		</a>
	</p>
	<p class='intro__prelude'>
		{{{copy.prelude}}} Last updated: <time>...</time>.
	</p>
</div>